.hover-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .image-container:hover .hover-content {
    opacity: 1;
  }
  
  .hover-content button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .carousel-container {
    max-width: 400px; /* Adjust the max-width to decrease the size */
    max-height: 600px;
    margin: 0 auto; /* Center the carousel */
  }

  .image-container {
    position: relative;
    overflow: hidden;
  }
  
  
  .image-container img {
    transition: all 0.3s ease;
  }
  
  .image-container:hover img {
    filter: brightness(70%);
  }
  
  .hover-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  